<!-- Page Header -->
<header class="masthead" style="background-image: url('/profileimage.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">        
          <h2>プロフィール情報変更</h2>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- Main Content -->
<div class="container">
  <%= form_with model: @user, multipart: true do |f| %>
    <div class="form-group">
      <%= f.label :ニックネーム %>
      <%= f.text_field :name, rows: 5, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :メールアドレス %>
      <%= f.text_field :email, rows: 5, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :パスワード %>
      <%= f.password_field :password, rows: 5, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :"パスワード(確認)" %>
      <%= f.password_field :password_confirmation, rows: 5, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :プロフィール画像 %></br>
      <%= f.file_field :image_name %>
      
    </div>
    <%= f.submit "登録する", class: "btn btn-primary" %>
  <% end %>
</div>
