<!-- Page Header -->
<header class="masthead" style="background-image: url('img/topimage4.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">        
          <h2>ユーザー一覧</h2>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- Main Content -->
<div class="container">
  <div class="row">
    <% @user.each do |user| %> 
      <div class="col-xs-4 content">
        <img class="hoge" src="<%= "/user_images/#{user.image_name}" %>">
        </br></br>
        id:     <%= user.id %></br>
        name:   <%= user.name %></br>
        email:  <%= user.email %></br>
        admin:  <%= user.admin %>
        <%= link_to "削除", "/admin/users/#{user.id}/destroy", method: :delete, class:"content-delete", data: { confirm: "ユーザーを削除します。よろしいですか？"} %>
        <%= link_to "編集", "/admin/users/#{user.id}/edit", class:"content-edit" %>
        
      </div>
    <% end %>
  </div>
</div>