<!-- Page Header -->
<header class="masthead" style="background-image: url('/newuserimage.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">        
          <h2>新規登録</h2>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- Main Content -->
<div class="container">

  <% if @user.errors.present? %>
    <div class="form-error">
      <span>入力エラー：</span>
      <% @user.errors.full_messages.each do |message| %></br>
        <%= message %>
      <% end %>
    </div>
    </br>
  <% end %>

  <%= form_with model: @user, local: true, multipart: true do |f| %>   
    <div class="form-group">
      <%= f.label :ニックネーム %>
      <%= f.text_field :name, rows: 5, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :メールアドレス %>
      <%= f.text_field :email, rows: 5, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :パスワード %>
      <%= f.text_field :password, rows: 5, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :画像 %></br>
      <input name="image" type="file">
    </div>
    <%= f.submit "登録する", class: "btn btn-primary" %>
  <% end %>
</div>
