<!-- Page Header -->
<header class="masthead" style="background-image: url('topimage.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h2>みんなで『成功体験』『失敗体験』を共有しよう</h2>
          <span class="subheading">日常の成功談・失敗談を気軽に共有するアプリです。</span>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- Main Content -->

<div class="container-fluid h-auto p-3  second">
  <p class="second-title" >みんなの投稿</p>



<div class="row">
  <% @posts.each do |post| %>  
  <% if post.category == true %>
    <div class=" col-xs-12 content">
      <img class="hoge" src="<%= "/user_images/#{post.user.image_name}" %>">
      <p class="username"><%= "#{post.user.name}" %><span style="font-size:15px">  さん</span></p>
      <p class="post_cate">成功体験：</p>
      <p class="post"><%= post.content %></p>

      <% if current_user %>
        <% if current_user.admin? || post.user_id == current_user.id %>
          <%= link_to "削除", "/posts/#{post.id}/destroy", method: :delete, class:"content-delete", data: { confirm: "投稿を削除します。よろしいですか？"} %>
          <%= link_to "編集", edit_post_path(post), class:"content-edit" %>
        <% end %>
      <% end %>

      <% if current_user %>      
        <% if Like.find_by(user_id: current_user.id, comment_id: post.id) %>
          <%= link_to( "/likes/#{post.id}/destroy", {method: "post"}) do %>
            <span class="fa fa-heart like-btn">  <%= Like.where(comment_id: post.id).count %></span>
          <% end %>
       <% else %>
          <%= link_to( "/likes/#{post.id}/create", {method: "post"}) do %>
            <span class="fa fa-heart unlike-btn">  <%= Like.where(comment_id: post.id).count %></span>
          <% end %>
       <% end %>
      <% else %>
        <span class="fa fa-heart like-btn">  <%= Like.where(comment_id: post.id).count %></span>
      <% end %>
    </div>
  <% else %>
    <div class=" col-xs-12 content-false">
      <img class="hoge" src="<%= "/user_images/#{post.user.image_name}" %>">
      <p class="username"><%= "#{post.user.name}" %><span style="font-size:15px">  さん</span></p>
      <p class="post_cate">失敗体験：</p>
      <p class="post"><%= post.content %></p>
      
      <% if current_user %>
        <% if current_user.admin? || post.user_id == current_user.id %>
        <%= link_to "削除", "/posts/#{post.id}/destroy", method: :delete, class:"content-delete", data: { confirm: "投稿を削除します。よろしいですか？"} %>
        <%= link_to "編集", edit_post_path(post), class:"content-edit" %>
        <% end %>
        <% end %>

    <% if current_user %>          
      <% if Like.find_by(user_id: current_user.id, comment_id: post.id) %>
        <%= link_to( "/likes/#{post.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart like-btn">  <%= Like.where(comment_id: post.id).count %></span>
        <% end %>
      <% else %>
        <%= link_to( "/likes/#{post.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart unlike-btn">  <%= Like.where(comment_id: post.id).count %></span>
        <% end %>
      <% end %>
    <% else %>
      <span class="fa fa-heart like-btn">  <%= Like.where(comment_id: post.id).count %></span>
    <% end %>


    </div>
  <% end %>
<% end %>
</div>
</div>
<div class="mt-2 mb-5 ml-4">
  <%= paginate @posts %>
</div>